
@{
    ViewBag.Title = "MachineLearning";
}


<div class="text-center">

    <div class="justify-content-center">
        <div style="background-color:azure; height:100px">
            <h1 style="font-style:italic;font-size:50px" class="text-primary"><u>Machine Learning</u></h1>
        </div>
    </div>

    <img onload="GetData()" style="height:100px;  border-radius: 8px; margin:30px" src="~/Images/Machine Learning.jpg" />

    

    <h3>פה יהיה מכונה לומדת</h3>
</div>

<script>
    function Test3(Obj) {
        console.log(Obj)
    }

</script>

