
@{
    ViewBag.Title = "MachineLearning";
}


<div class="text-center">
    <h1 style="font-style:italic;font-size:50px" class="text-primary"><u>Machine Learning</u></h1>
    <h3>פה יהיה מכונה לומדת</h3>
</div>

