
@{
    ViewBag.Title = "Data Service";
}

<style>
    .MyTable {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        .MyTable td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .MyTable tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .MyTable tr:hover {
            background-color: #ddd;
        }

        .MyTable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: cornflowerblue;
            color: white;
        }

    .my-div {
        float: left;
        width: 100%;
        background: rgb(249, 247, 249);
    }

        .my-div span {
            float: left;
            width: 100%;
        }

    span:nth-child(even) {
        color: green;
    }

    span:nth-child(odd) {
        color: red;
    }
</style>


<div class="container text-center">
    <h1 style="font-style:italic;font-size:50px" class="text-primary"><u>Data Service</u></h1>
    <h3> שירותי מידע ו API</h3>
    <button id="btnSport" onclick="ShowSport()" style="margin-top:30px" type="button" class="btn btn-success">שירותי ספורט</button>
    <button id="btnFood" onclick="ShowFood()" style="margin-top:30px" type="button" class="btn btn-success">שירותי אוכל</button>

    <div class="text-center" style="display:none; margin-top:20px" id="sport">
        <div class="row text-center">
            <input type="search" id="searche" class="form-control" placeholder="הכנס מילת חיפוש (לא חובה) " aria-label="Search" />
            <div style="margin-top:15px" class="text-right">
                <button onclick="GetSport()" type="button" class="btn btn-primary"> מתקני ספורט</button>
                <button onclick="GetCorus()" type="button" class="btn btn-primary"> סוגי קורסים והכשרות</button>
                <button onclick="Test()" type="button" class="btn btn-primary">סגור טבלה</button>
            </div>
            <div style="margin-top:50px" class="table-responsive">
                <table id="customers" class="MyTable table"></table>
            </div>
        </div>
    </div>

    <div class="text-center" style="display:none; margin-top:20px" id="food">
        <div class="row text-center">
            <input type="search" id="text" class="form-control" placeholder="הכנס סוג אוכל" aria-label="Search" />
            <div style="margin-top:15px" class="text-right">
                <button onclick="GetApi()" type="button" class="btn btn-primary"> אוכל</button>
                <button onclick="CloseTable()" type="button" class="btn btn-primary">סגור טבלה</button>
            </div>
        </div>
    </div>

    <section style="margin-top:40px" class="wrapper">
        <div class="container-fostrap">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div id="FoodData">

                        </div>


                    </div>
                </div>
            </div>
        </div>
</section>

<script>
    var CorusUrl = 'https://data.gov.il/api/3/action/datastore_search?resource_id=d879e91b-419a-4e63-8e20-2ff798a234c1';
    var SportUrl = 'https://data.gov.il/api/3/action/datastore_search?resource_id=228ea2d3-c8ce-4e12-ba80-047bdb8518b5';
    var FoodData = document.getElementById('FoodData');

    function ShowSport() {
        document.getElementById("food").style.display = 'none';
        var x = document.getElementById("sport");
        if (x.style.display === "none") {
            $('#sport').fadeIn(500);
        }
        else
          $('#sport').fadeOut(500);

    }

    function ShowFood() {
        document.getElementById("sport").style.display = 'none';
        var x = document.getElementById("food");
        if (x.style.display === "none") {
            $('#food').fadeIn(500);
        }
        else
            $('#food').fadeOut(500);
    }


    function GetCorus() {
        var s = document.getElementById('searche').value;
        if (s != '') {
            CorusUrl += `&q=${s}`
        }
        GetAPI(CorusUrl);
    }

    function GetSport() {
        var s = document.getElementById('searche').value;
        if (s != '') {
            SportUrl += `&q=${s}`
        }
        GetAPI(SportUrl);
    }

    function Test() {
        let table = document.querySelector("table");
        table.innerHTML = '';
    }

    function GetAPI(Url) {
        var xml = new XMLHttpRequest();
        xml.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var myArr = JSON.parse(this.responseText);
                console.log(myArr.result.records);
                try {
                    CreateTable(myArr.result.records);
                }
                catch (err) {
                    let table = document.querySelector("table");
                    table.innerHTML = '';
                    table.innerHTML = '<h1> לצערי לא מצאנו נתונים ממאגר נתוני ה API אנא נסו נתון אחר</h1>';
                }

            }
        };
        xml.open('GET', Url, true)
        xml.send();
    }

    function CreateTable(Teachres) {
        let table = document.querySelector("table");
        table.innerHTML = '';
        let data = Object.keys(Teachres[0]);
        generateTableHead(table, data);
        generateTable(table, Teachres);

        function generateTableHead(table, data) {
            let thead = table.createTHead();
            let row = thead.insertRow();
            for (let key of data) {
                if (key != '_id') {
                    let th = document.createElement("th");
                    let text = document.createTextNode(key);
                    th.appendChild(text);
                    row.appendChild(th);
                }

            }

        }

        function generateTable(table, data) {
            for (let element of data) {
                let row = table.insertRow();
                for (key in element) {
                    if (key != '_id') {
                        let cell = row.insertCell();
                        let text = document.createTextNode(element[key]);
                        cell.appendChild(text);
                    }
                }
            }
        }
    }


    function DoTranslation() {

        foodTable.innerHTML = "";
        var text = document.getElementById('text').value;
        const data = `q=${text}!&target=en&source=he`;

        const xhr = new XMLHttpRequest();
        xhr.withCredentials = true;

        xhr.addEventListener("readystatechange", function () {
            if (this.readyState === this.DONE) {
                console.log(this.responseText);
                var Obj = this.responseText;
                Obj = JSON.parse(Obj);
                ConvertToGoodString(Obj);
            }
        });

        xhr.open("POST", "https://google-translate1.p.rapidapi.com/language/translate/v2");
        xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
        xhr.setRequestHeader("accept-encoding", "application/gzip");
        xhr.setRequestHeader("x-rapidapi-key", "6f1aabd2aamsh9401db3ac7d2320p15d92djsnb6e978a13b44");
        xhr.setRequestHeader("x-rapidapi-host", "google-translate1.p.rapidapi.com");
        xhr.send(data);

    }

    function ConvertToGoodString(Obj) {
        var str = Obj.data.translations[0].translatedText;
        str = str.substring(0, str.length - 1);
        GetApi(str)
    }

    function GetApi(text1) {
        FoodData.innerHTML = "";
        var text = document.getElementById('text').value;
        var Url = `https://api.edamam.com/api/food-database/v2/parser?nutrition-type=logging&ingr=${text}&app_id=96681553&app_key=24c39b40ecd4808a804a8a9970f595f3`
        console.log(Url);
        var xml = new XMLHttpRequest();
        xml.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var myArr = JSON.parse(this.responseText);
                console.log(myArr);
                //PrintAPI(myArr)
                myArr.hints.forEach(CreateTableFood);
            }
        };
        xml.open('GET', Url, true)
        xml.send();
    }



    var counter = 0;
    function CreateTableFood(item) {
        var atr = '';
        $.each(item.food.nutrients, function (key, value) {
            atr += "<span>" + key + ": " + value + "</span> <br>";
        });

        div = document.createElement('div');
        div.innerHTML = `<div class="hideme col-xs-12 col-sm-4 ">
                      <div class="card">
                          <a class="img-card" href="#">
                          <img src="${item.food.image}" alt="מצטערים אין תמונה משירות API"/>
                        </a>
                          <div style="text-align: center;" class="card-content">
                              <h2 class="card-title">
                                   ${item.food.label}
                              </h2>
                              <p class="my-div">
                                <h3>נתוני אוכל</h3>
                                   ${atr}
                              </p>
                          </div>
                      </div>
                  </div>`
        FoodData.appendChild(div);
    }

    function CloseTable() {
        FoodData.innerHTML = "";
    }


</script>
