
@{
    ViewBag.Title = "Data Service";
}

<div class="text-center">
    <h1 style="font-style:italic;font-size:50px" class="text-primary"><u>Data Service</u></h1>
    <h3>פה יהיה שירותי מידע</h3>
</div>